<p id="notice"><%= notice %></p>

<p>
  <strong>Link:</strong>
  <%= @link_playlist_video.link %>
</p>

<%= link_to 'Edit', edit_link_playlist_video_path(@link_playlist_video) %> |
<%= link_to 'Back', link_playlist_videos_path %>
